{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">

<div class="navbar" style="background-color:#333333;" >
    <h1 style="color:white;"><B style="font-size:45px;">HSBC BANK</B></h1>
    {% if user.is_authenticated %}
    <a href="logout" class="btn btn-danger"><h3 style="font-size:20px;">Logout</h3></a>

    <a href="register" class="btn btn-success" style="font-size:22px;width:130px">Register</a>
    {% else %}
    <a href="http://127.0.0.1:8000/login" class="btn btn-success"><h3 style="font-size:20px;">Login</h3></a>
    <a href="register" class="btn btn-success" style="font-size:22px;width:130px">Register</a>
    {% endif %}
    <div class="" style="font-size:22px;width:180px;margin-right:17px;">
        <select onChange="window.location.href=this.value">
            <option value="value">BRANCHES</option>
          <option value="https://en.wikipedia.org/wiki/Wayanad_district">Wayanad</option>
          <option value="https://en.wikipedia.org/wiki/Kozhikode">Calicut</option>
          <option value="https://en.wikipedia.org/wiki/Kannur">Kannur</option>
          <option value="https://en.wikipedia.org/wiki/Kasaragod">Kasaragod</option>
          <option value="https://en.wikipedia.org/wiki/Thrissur">Thrissur</option>

        </select>
    </div>
</div>
<img class="my_image my_image_padding" src="{% static 'bank2.jpg' %}" alt="img" width="1940px;" height="877px;">

<div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <center>
                    <div class="col-md-6 item text">
                        <h3 class="text-center" style="font-size:20px;">About</h3>
                        <h4 class="text-justify" style="font-size:20px;">HSBC is renowned for its international presence and comprehensive range of financial services. As a universal bank, HSBC provides a wide array of products and services, including retail and commercial banking, wealth management, global banking and markets, and private banking. The bank's operations span Asia, Europe, the Americas, the Middle East, and Africa, positioning it as a truly global financial player.
                        </h4>
                    </div>
                    </center>
                </div>
                <div class="col item social"><a href=""><i class="fa-brands fa-facebook"></i></a><a href="#"><i class="fa-brands fa-twitter"></i></a><a href="#"><i class="fa-brands fa-instagram"></i></a><a href="#"><i class="fa-brands fa-whatsapp"></i></a></div>

                <p class="copyright">HSBC_bank© 2018</p>
            </div>
        </footer>
    </div>

{% endblock %}














