{% extends 'base.html' %}

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="js/script.js"></script>


{% load static %}

{% block content %}
<div class="topnav" style="margin:0;font:font-family: Arial, Helvetica, sans-serif;background-color:#333333;overflow: hidden;"><p style="margin-left:10px;margin-top:8px;color:white;font-size:45px;"><B>HSBC BANK</B></div>
<br><br>
<!--{% for msg in messages %}-->
<!--<div class="alert alert-success" role="alert">-->
<!--  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><h3>{{msg}}</h3>-->
<!--{% endfor %}-->
<!--</div>-->



<br><br><br>
    <center><h1>Login Here</h1></center>


<form action="/login/" method="Post" name="form" onsubmit="validated()">
    {% csrf_token %}
   <center>
       </label>>
       <br> <br><input type="text" name="username" placeholder="Username" style="font-size:25px" required><br><br><br>
    <input type="password" name="password" placeholder="Password" style="font-size:25px" required><br><br><br>
       {% for msg in messages %}
       <div class="">
           <h4 style="color:red" >{{msg}}</h4>
       </div>
       {% endfor %}
       <br>
    <input type="submit" value="Sign-in" style="font-size:25px;width:180px" class="btn btn-success"><br><br>
    Do you haven't a account <a href="/register/">Register here</a></center>
</form>
{% endblock %}
